h1 {
    font-size: 40px;
    color: white;
    margin-top: 250px;
}

body {
    background-image: url("./image/b.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: new time roman;
}

form {
    background-color: teal;
}

p {
    color: black;
}